.logo {
	display: flex;
	color: #7c7c7c;
}

.span__phone {
	color: #0180cb;
}

.p__logo {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 17px;
	font-weight: bold;
}


.phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.p__phone {
	font-size: 17px;
	font-weight: bold;
	color: #7c7c7c;
	margin-bottom: 0px;
	padding-top: 10px;
}

.a__phone {
	text-decoration: none;
	margin-left: 10px;
	color: #fff;
	background: #0180cb;
	padding: 0px 7px 3px 7px;
	border-radius: 30px;

}

.a__phone:hover {
	text-decoration: none;
	color: #d4e4ee;
	transition-duration: 0.5s;
}

.button__phone {
	margin-top: 5px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: #7c7c7c;
}

.column-5 .col-md-1  {
  width: 0%;
}
.column-5 .col-md-2 {
width: 20%;
}

.skills {
	background: #0190dc;
}

.skills__item:hover {
	background: #0180c9;
}

.skills__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.fa-volume-control-phone, .fa-clock-o, .fa-percent, .fa-thumbs-up, .fa-truck {
	padding-top: 20px;
	color: #fff;
	font-size: 50px;
}

.skills__p {
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}

h2 {
	text-align: center;
	color: #1899e0;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 21px;
}

.client__block {
	display: flex;
	margin-bottom: 10px;
}

.fa-times-circle-o {
	color: #e04d47;
	padding-top: 5px;
	padding-right: 10px;
	font-size: 39px;
}

.client__text {
	color: #53625b;
	margin-bottom: 0;
}

.edits {
	padding-top: 8px;
}

.fa-check-circle-o {
	color: #17a265;
	padding-top: 5px;
	padding-right: 10px;
	font-size: 39px;
}

.client {
	padding-bottom: 50px;
}

.form {
	background: url(../img/2.jpg) no-repeat center top;
}

h3 {
	text-align: center;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	padding-top: 50px;
	font-weight: bold;
	line-height: 30px;
}

.form__block {
	background: rgba(0, 170, 238, 0.5); /* Цвет фона */
}

.forms {
	margin-top: 50px;
	text-align: center;
	margin-right: 50px;
}

.form__button {
	text-transform: uppercase;
	text-align: center;
	background-color: #fdd901;
	color: gray;
	padding: 0px 52px;
	
	
}

.form__1 {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.photo__text {
	text-align: center;
	color: gray;
}

.images {
	opacity: 1;
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 0.5s ease-out;
}

.images:hover {
	opacity: 0.8;
    cursor: pointer;
    -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.round {
	border: 3px solid #0090d9;
	position: relative;
	z-index: 2;
	left: 100px;
	bottom: 50px;
	
}

.recommend__text {
	background: #0090d9;
	padding: 15px;
	padding-left: 70px;
	border-radius: 7px;
	color: #fff;
	z-index: 1;
	box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
}

.name {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 19px;

}

.city {
	font-weight: bold;
	font-size: 16px;

}

.recommend {
	padding-bottom: 50px;
}


.recommend__text1 {
	background: #959595;
	padding: 15px;
	padding-left: 70px;
	border-radius: 7px;
	color: #fff;
	z-index: 3;
	margin-top: 70px; 
	 box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
}

.round1 {
	border: 3px solid #959595;
	position: relative;
	z-index: 4;
	left: 100px;
	bottom: 80px;
	margin-top: 100px;
	
}


.span__form2 {
	font-size: 26px;
	font-weight: bold;
}


.footer__text {
	text-align: center;
}



.knobka {
	border-radius: 30px;
	padding: 0px 5px 2px 5px;
	margin-right: 10px;
}

.modal__1 {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	background: #0180cb;
	color: #fff;
	border-radius: 30px;
}

.h5__1 {
	text-transform: uppercase;
	color: #0180cb;
	margin-left: 129px;
	font-weight: bold;
}

.modal__text {
	text-align: center;
}













@media screen and (max-width:998px){
		.logo {
			display: flex;
			justify-content: center;
		}	

		.phone {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.button__phone {
			margin-bottom: 12px;
			text-align: center;
		}

		.p__phone {
			text-align: center;
		}

		.a__phone {
			font-size: 17px;
		}

		.form__1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 0px;
		}

		.forms {
		margin-top: 20px; 
		display: flex;
		justify-content: center;
	
			}
		.form__button {
			margin-bottom: 10px;
			margin-left: 10px;
		}

		 .round{ 
		 	width: 39%;
		 	display: block;
		 	margin: 0 auto;
		 	left: 0px;
	bottom: 20px;

	}
		.recommend__text {
			text-align: center;
			padding-left: 15px;
		}

		.round1 { 
		 	width: 39%;
		 	display: block;
		 	margin: 0 auto;
		 	left: 0;
		 	top: 50px;

	}
		.recommend__text1 {
			text-align: center;
			padding-left: 15px;
			top: 100px;

		}

}